/** screen widths  */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

body {
  color: #939393; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address, hr, table, fieldset, figure, pre {
  margin-bottom: 0.55rem; }

.main {
  background: #ffffff;
  position: relative; }
  .main__background {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1; }
    .main__background.main__background--left {
      background-color: #fbfbfb;
      left: 0; }
    .main__background.main__background--right {
      right: 0;
      background-color: white; }
  .main__header {
    height: 60px;
    background-color: white; }
  .main__avatar-container {
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .main__avatar-container {
        width: 30%; } }
  .main__content {
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .main__content {
        width: 70%; } }
  .main__avatar {
    border-radius: 50%;
    max-width: 300px; }

a {
  color: #F8BB10;
  text-decoration: none; }

p {
  font-size: 1em;
  line-height: 1.5; }

p, span, strong {
  color: #727272; }

h1, h2, h3, h4, h5 {
  color: #727272;
  text-transform: uppercase;
  line-height: 1.5; }
