/** screen widths  */
$max-layout-width: 1276px;
$width-phone-start: 320px;
$width-phablet-start: 640px;
$width-tablet-start: 920px;
$width-laptop-start: 1024px;
$width-desktop-start: 1600px;
$width-phone-end: $width-phablet-start - 0.1px;
$width-phablet-end: $width-tablet-start - 0.1px;
$width-tablet-end: $width-laptop-start - 0.1px;
$width-laptop-end: $width-desktop-start - 0.1px;

$width-layout-max: $max-layout-width + 40px;

$media-min-phone: "only screen and (min-width: #{$width-phone-start})";
$media-min-phablet: "only screen and (min-width: #{$width-phablet-start})";
$media-min-tablet: "only screen and (min-width: #{$width-tablet-start})";
$media-min-laptop: "only screen and (min-width: #{$width-laptop-start})";
$media-min-desktop: "only screen and (min-width: #{$width-desktop-start})";

$media-min-layout-max: "only screen and (min-width: #{$width-layout-max})";

$media-max-phone: "only screen and (max-width: #{$width-phone-end})";
$media-max-phablet: "only screen and (max-width: #{$width-phablet-end})";
$media-max-tablet: "only screen and (max-width: #{$width-tablet-end})";
$media-max-laptop: "only screen and (max-width: #{$width-laptop-end})";

$media-only-phone: $media-max-phone;
$media-only-phablet: "only screen and (min-width: #{$width-phablet-start}) and (max-width: #{$width-phablet-end})";
$media-only-tablet: "only screen and (min-width: #{$width-tablet-start}) and (max-width: #{$width-tablet-end})";
$media-only-laptop: "only screen and (min-width: #{$width-laptop-start}) and (max-width: #{$width-laptop-end})";
$media-only-desktop: $media-min-desktop;

$media-not-phone: $media-min-phablet;
$media-not-phablet: "only screen and (max-width: #{$width-phone-end}), only screen and (min-width: #{$width-tablet-start})";
$media-not-tablet: "only screen and (max-width: #{$width-phablet-end}), only screen and (min-width: #{$width-laptop-start})";
$media-not-laptop: "only screen and (max-width: #{$width-tablet-end}), only screen and (min-width: #{$width-desktop-start})";
$media-not-desktop: $media-max-laptop;

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0;
}

body {
  color: #939393;
  font-family: 'Roboto', sans-serif;

}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address, hr, table, fieldset, figure, pre {
  margin-bottom: 0.55rem;
}


.main {
  background: #ffffff;
  position: relative;

  &__background {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;

    &#{&}--left {
      background-color: #fbfbfb;
      left: 0;
    }

    &#{&}--right {
      right: 0;
      background-color: white;
    }
  }

  &__header {
    height: 60px;
    background-color: white;
  }

  &__wrapper {

  }

  &__avatar-container {
    width: 100%;
    @media #{$media-min-laptop} {
      width: 30%;
    }
  }

  &__content {
    width: 100%;
    @media #{$media-min-laptop} {
      width: 70%;
    }
  }

  &__avatar {
    border-radius: 50%;
    max-width: 300px;
  }

}

a {
  color: #F8BB10;
  text-decoration: none;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

p, span, strong {
  color: #727272;
}

h1, h2, h3, h4, h5 {
  color: #727272;
  text-transform: uppercase;
  line-height: 1.5;
}
