.contact-item {
  text-align: center;
  padding-bottom: 25px; }
  @media (min-width: 1024px) {
    .contact-item {
      text-align: left; } }
  .contact-item__header {
    font-size: 14px; }
  .contact-item__body {
    font-size: 14px; }
