@import './_mixins.scss';

.contact-item {
  text-align: center;
  padding-bottom: 25px;

  @include respond-to('large') {
    text-align: left;
  }

  &__header {
    font-size: 14px;
  }
  &__body {
    font-size: 14px;
  }
}