.intro__avatar-container {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 1024px) {
    .intro__avatar-container {
      padding-bottom: 0;
      padding-top: 0; } }

.intro__avatar-img {
  border-radius: 50%;
  width: 13rem;
  height: 13rem; }

@media (min-width: 1024px) {
  .intro__content {
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative; } }

.intro__title-container {
  align-self: center; }

.intro__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 55px;
  border-top: 1px solid #cccccc; }
  @media (min-width: 1024px) {
    .intro__bottom {
      padding: 25px 0 0 0;
      position: absolute;
      bottom: 25px;
      width: 70%;
      left: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; } }
