@import './_mixins.scss';

.intro {

  &__avatar-container {
    padding-top: 30px;
    padding-bottom: 30px;

    @include respond-to('large') {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  &__avatar-img {
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
  }

  &__content {
    @include respond-to('large') {
      width: 70%;
      height: 100vh;
      display: flex;
      align-items: center;
      position: relative;
    }
  }

  &__title-container {
    align-self: center;
  }

  &__bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 55px;
    border-top: 1px solid #cccccc;

    @include respond-to('large') {
      padding: 25px 0 0 0;
      position: absolute;
      bottom: 25px;
      width: 70%;
      left: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}