.list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 25px;
  text-align: left; }
  @media (min-width: 1024px) {
    .list-item {
      flex-grow: 2; } }
  .list-item__count {
    width: 100px;
    color: #F8BB10;
    font-weight: bold;
    line-height: 1.5; }
