@import './_mixins.scss';

.list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 25px;
  text-align: left;

  @include respond-to('large') {
    flex-grow: 2;
  }

  &__count {
    width: 100px;
    color: #F8BB10;
    font-weight: bold;
    line-height: 1.5;
  }

  &__text {

  }
}
