.navigation {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  padding: 18px;
  max-width: 960px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%; }
  .navigation__item, .navigation__item a {
    font-size: 11px;
    text-align: center;
    color: #999999;
    text-transform: uppercase;
    text-decoration: none; }
