.progress-bar {
  margin-bottom: 25px;

  &__header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  &__percent {
    margin-left: 0;
    margin-right: 0;
    width: 3rem;
    font-weight: bold;
    color: #F8BB10;
  }

  &__body {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: #727272;
  }

  &__graphic-percent-wrapper {
    background: #ececec;
    position: relative;
    height: 5px;
  }

  &__graphic-percent {
    background: #F8BB10;
    transition: width 1.4s ease-in-out .5s;
    height: 100%;
    width: 0;
  }
}