@import './_mixins.scss';

.section {
  position: relative;

  &__background {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1;

    &#{&}--left {
      left: 0;
      @include respond-to('large') {
        background-color: #f7f7f7;
      }
    }

    &#{&}--right {
      right: 0;
      background-color: white;
    }

  }

  &:nth-child(even) &__background--left {
    @include respond-to('large') {
      background-color: #f3f3f3;

    }
  }

  &#{&}--main &__inner, &#{&}--main &__header, &#{&}--main &__content {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    @include respond-to('large') {
      height: 100vh;
    }
  }

  & > div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1276px;
    margin: 0 auto;
    @include respond-to('large') {
      flex-direction: row;
      min-height: 300px;
    }
  }

  &__header {
    width: 100%;
    z-index: 2;

    @include respond-to('large') {
      padding: 4.375rem 5.25rem 1.6625rem;
      width: 30%;
      display: flex;
      justify-content: center;
    }
  }

  &__content {
    padding: 20px 20px 40px 20px;
    width: auto;
    z-index: 2;
    background-color: white;

    @include respond-to('large') {
      padding: 4.375rem 5.25rem 1.6625rem;
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      text-align: left;
      min-height: 300px;
    }
  }
}

