.section {
  position: relative; }
  .section__background {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1; }
    .section__background.section__background--left {
      left: 0; }
      @media (min-width: 1024px) {
        .section__background.section__background--left {
          background-color: #f7f7f7; } }
    .section__background.section__background--right {
      right: 0;
      background-color: white; }
  @media (min-width: 1024px) {
    .section:nth-child(even) .section__background--left {
      background-color: #f3f3f3; } }
  .section.section--main .section__inner, .section.section--main .section__header, .section.section--main .section__content {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0; }
    @media (min-width: 1024px) {
      .section.section--main .section__inner, .section.section--main .section__header, .section.section--main .section__content {
        height: 100vh; } }
  .section > div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1276px;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      .section > div {
        flex-direction: row;
        min-height: 300px; } }
  .section__header {
    width: 100%;
    z-index: 2; }
    @media (min-width: 1024px) {
      .section__header {
        padding: 4.375rem 5.25rem 1.6625rem;
        width: 30%;
        display: flex;
        justify-content: center; } }
  .section__content {
    padding: 20px 20px 40px 20px;
    width: auto;
    z-index: 2;
    background-color: white; }
    @media (min-width: 1024px) {
      .section__content {
        padding: 4.375rem 5.25rem 1.6625rem;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        text-align: left;
        min-height: 300px; } }
