.section-title {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  background: #fafafa;
  padding: 15px 25px;
  color: #999999; }
  @media (min-width: 1024px) {
    .section-title {
      background: none;
      border: none; } }
  .section-title__text {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase; }
  .section-title__subtext {
    display: block;
    font-size: 14px;
    font-weight: 100;
    text-transform: none;
    color: #b8b8b8; }
    @media (min-width: 1024px) {
      .section-title__subtext {
        color: inherit; } }
