@import './_mixins.scss';

.section-title {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  background: #fafafa;
  padding: 15px 25px;
  color: #999999;

  @include respond-to('large') {
    background: none;
    border: none;
  }

  &__text {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  }

  &__subtext {
    display: block;
    font-size: 14px;
    font-weight: 100;
    text-transform: none;
    color: #b8b8b8;
    @include respond-to('large') {
      color: inherit;
    }
  }
}