/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ==========================================================================*/
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/** screen widths  */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

body {
  color: #939393;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address, hr, table, fieldset, figure, pre {
  margin-bottom: 0.55rem; }

.main {
  background: #ffffff;
  position: relative; }
  .main__background {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1; }
    .main__background.main__background--left {
      background-color: #fbfbfb;
      left: 0; }
    .main__background.main__background--right {
      right: 0;
      background-color: white; }
  .main__header {
    height: 60px;
    background-color: white; }
  .main__avatar-container {
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .main__avatar-container {
        width: 30%; } }
  .main__content {
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .main__content {
        width: 70%; } }
  .main__avatar {
    border-radius: 50%;
    max-width: 300px; }

a {
  color: #F8BB10;
  text-decoration: none; }

p {
  font-size: 1em;
  line-height: 1.5; }

p, span, strong {
  color: #727272; }

h1, h2, h3, h4, h5 {
  color: #727272;
  text-transform: uppercase;
  line-height: 1.5; }

.list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 25px;
  text-align: left; }
  @media (min-width: 1024px) {
    .list-item {
      flex-grow: 2; } }
  .list-item__count {
    width: 100px;
    color: #F8BB10;
    font-weight: bold;
    line-height: 1.5; }

.intro__avatar-container {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 1024px) {
    .intro__avatar-container {
      padding-bottom: 0;
      padding-top: 0; } }

.intro__avatar-img {
  border-radius: 50%;
  width: 13rem;
  height: 13rem; }

@media (min-width: 1024px) {
  .intro__content {
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative; } }

.intro__title-container {
  align-self: center; }

.intro__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 55px;
  border-top: 1px solid #cccccc; }
  @media (min-width: 1024px) {
    .intro__bottom {
      padding: 25px 0 0 0;
      position: absolute;
      bottom: 25px;
      width: 70%;
      left: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; } }

.navigation {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  padding: 18px;
  max-width: 960px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%; }
  .navigation__item, .navigation__item a {
    font-size: 11px;
    text-align: center;
    color: #999999;
    text-transform: uppercase;
    text-decoration: none; }

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: #999999; }
  .paragraph p {
    font-size: 16px;
    color: #999999;
    line-height: 1.5; }
  .paragraph img {
    max-width: 100%; }

.progress-bar {
  margin-bottom: 25px; }
  .progress-bar__header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 10px; }
  .progress-bar__percent {
    margin-left: 0;
    margin-right: 0;
    width: 3rem;
    font-weight: bold;
    color: #F8BB10; }
  .progress-bar__body {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: #727272; }
  .progress-bar__graphic-percent-wrapper {
    background: #ececec;
    position: relative;
    height: 5px; }
  .progress-bar__graphic-percent {
    background: #F8BB10;
    transition: width 1.4s ease-in-out .5s;
    height: 100%;
    width: 0; }

.salutation {
  font-size: 15px;
  font-weight: bold;
  color: black;
  display: block;
  text-align: left;
  text-transform: uppercase;
  line-height: 2;
  padding-bottom: 18px; }

.section {
  position: relative; }
  .section__background {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 1; }
    .section__background.section__background--left {
      left: 0; }
      @media (min-width: 1024px) {
        .section__background.section__background--left {
          background-color: #f7f7f7; } }
    .section__background.section__background--right {
      right: 0;
      background-color: white; }
  @media (min-width: 1024px) {
    .section:nth-child(even) .section__background--left {
      background-color: #f3f3f3; } }
  .section.section--main .section__inner, .section.section--main .section__header, .section.section--main .section__content {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0; }
    @media (min-width: 1024px) {
      .section.section--main .section__inner, .section.section--main .section__header, .section.section--main .section__content {
        height: 100vh; } }
  .section > div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1276px;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      .section > div {
        flex-direction: row;
        min-height: 300px; } }
  .section__header {
    width: 100%;
    z-index: 2; }
    @media (min-width: 1024px) {
      .section__header {
        padding: 4.375rem 5.25rem 1.6625rem;
        width: 30%;
        display: flex;
        justify-content: center; } }
  .section__content {
    padding: 20px 20px 40px 20px;
    width: auto;
    z-index: 2;
    background-color: white; }
    @media (min-width: 1024px) {
      .section__content {
        padding: 4.375rem 5.25rem 1.6625rem;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        text-align: left;
        min-height: 300px; } }

.section-title {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  border-left: none;
  border-right: none;
  background: #fafafa;
  padding: 15px 25px;
  color: #999999; }
  @media (min-width: 1024px) {
    .section-title {
      background: none;
      border: none; } }
  .section-title__text {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase; }
  .section-title__subtext {
    display: block;
    font-size: 14px;
    font-weight: 100;
    text-transform: none;
    color: #b8b8b8; }
    @media (min-width: 1024px) {
      .section-title__subtext {
        color: inherit; } }

@media (min-width: 1024px) {
  .skills {
    width: 100%;
    margin: 25px; } }

.skills__list {
  width: 100%; }

.timeline {
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: calc(1rem - 2px);
  padding-left: 25px;
  position: relative;
  border-color: #ececec;
  text-align: left; }
  .timeline__item {
    position: relative; }
    .timeline__item + .timeline__item {
      margin-top: 25px; }
  .timeline__point {
    background: #F8BB10;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -31px;
    top: 3px;
    box-shadow: 0 0 0 6px #fff;
    border-radius: 50%; }
  .timeline__header > div {
    margin-bottom: .4rem; }
  .timeline__subtitle {
    font-size: 0.8rem;
    color: #727272; }
  .timeline__timeframe, .timeline__location {
    opacity: 0.6;
    font-size: 0.7rem; }

.title {
  text-align: center; }
  @media (min-width: 1024px) {
    .title {
      text-align: left; } }
  .title__first-part {
    font-size: 2em;
    font-weight: 100;
    color: #999999; }
  .title__second-part {
    font-size: 2.5em;
    color: #F8BB10;
    font-weight: bold;
    text-transform: uppercase; }
  .title__subtitle {
    padding-top: 10px;
    font-size: 1em;
    font-weight: 100;
    color: #999999; }
