.timeline {
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: calc(1rem - 2px);
  padding-left: 25px;
  position: relative;
  border-color: #ececec;
  text-align: left;

  &__item {
    position: relative;


    & + & {
      margin-top: 25px;
    }

  }
  &__point {
    background: #F8BB10;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -31px;
    top: 3px;
    box-shadow: 0 0 0 6px #fff;
    border-radius: 50%;
  }

  &__header {

    & > div {
      margin-bottom:.4rem;
    }
  }

  &__subtitle {
    font-size: 0.8rem;
    color: #727272;
  }

  &__timeframe,  &__location {
    opacity: 0.6;
    font-size: 0.7rem;
  }

}
