@import "./_mixins.scss";

.title {
  text-align: center;

  @include respond-to('large') {
    text-align: left;
  }

  &__first-part {
    font-size: 2em;
    font-weight: 100;
    color: #999999;
  }

  &__second-part {
    font-size: 2.5em;
    color: #F8BB10;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__subtitle {
    padding-top: 10px;
    font-size: 1em;
    font-weight: 100;
    color: #999999;
  }
}