.title {
  text-align: center; }
  @media (min-width: 1024px) {
    .title {
      text-align: left; } }
  .title__first-part {
    font-size: 2em;
    font-weight: 100;
    color: #999999; }
  .title__second-part {
    font-size: 2.5em;
    color: #F8BB10;
    font-weight: bold;
    text-transform: uppercase; }
  .title__subtitle {
    padding-top: 10px;
    font-size: 1em;
    font-weight: 100;
    color: #999999; }
